; news module
; routes
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/news
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0

[news_article]
description = "Article"
brick = "request article *"
path_for_website = 1
group = public

[news_articles]
description = "Overview of Articles"
brick = "request articles"
path_for_website = 1
group = public

[news_articles_internal]
description = "Manage all articles"
brick = "forms articles"
group = "read and write"
menu = content
menu_title = "Posts"
menu_description = "All articles in one list"
menu_priority = 5
fallback_area = default_tables
fallback_value = articles

[news_articles_yearly]
description = "Annual overview of articles"
brick = "request articles *"
path_for_website = 1
group = public

[news_book]
description = "Book presentation"
brick = "request book *" 
group = public

[news_issue]
description = "Issue (edition) of an issued publication"
brick = "request issue *"
path_for_website = 1
group = public

[news_issues_archive]
description = "Publication issues grouped by year"
brick = "request issuesarchive *"
path_for_website = 1
group = public

[news_publication_internal]
description = "Manage one publication and its articles" 
brick = "forms articles *"
group = "read and write"

[news_publication_issues_internal]
description = "Manage issues of a publication" 
brick = "forms issues *"
group = "read and write"

[news_publications_internal]
description = "Manage publications (editorial outlets and series for articles)"
brick = "tables publications"
group = "read and write"
menu = content
menu_title = "Publications"
menu_description = "Their articles and issues"
menu_priority = 5
