; news module
; proposed settings for news module
; 
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/news
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2020-2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0
; 
; Syntax of this configuration file:
; 
; [key]: setting key
; - Field "description": description, just for information.
; - Field "type": type of setting, e. g. mail, number, foreign_key, etc.
; - Field "default": default value
; - Field "db_field": corresponding database field (table.field)
;

[news_article_path]
description = "Path to webpage of an article"
type = path
brick = "request article *"
backend_for_website = 1

[news_article_class]
description = "Class for article"
default = "article js-gallery"

[news_articles_page_id]
description = "Check page ID for menu hierarchy"
type = int
list = 1

[news_articles_path]
description = "Path to webpage of article list"
type = path
brick = "request articles"
backend_for_website = 1

[news_articles_class]
description = "Class for articles"
default = news

[news_author_display]
description = "Where to show author of news article"
type = select
enum[] = above
enum[] = below
enum[] = hidden

[news_big_image_size]
description = "Size of big image linked to in gallery (only if bigger image is available)"
type = int
default = 960

[news_book_path]
description = "Path to book presentations on website"
type = path
brick = "request book *" 

[news_category_link]
description = "Show a link to news categories above article"
type = bool
scope[] = website
scope[] = news
scope[] = categories

[news_category_properties]
description = "Use field news_categories.property to set values for categories"
type = bool
backend_for_website = 1

[news_gallery]
description = "Show further images as gallery below article"
type = bool

[news_gallery_image_size]
description = "Default image size for news gallery"
type = path
default = 240

[news_gallery_image_size_x2]
description = "Default image size for news gallery (x2)"
type = path
default = 480

[news_link_full_text]
description = "Link full text to article page, not only title and image"
type = bool

[news_overview_image_size]
description = "Default image size for news overview"
type = path
default = 240

[news_overview_image_size_x2]
description = "Default image size for news overview (x2)"
type = path
default = 480

[news_no_article_page]
description = "Simple news overview, no links to article pages"
type = bool

[news_og_image_size]
description = "Size in px of image for OpenGraph (Facebook, Twitter)"
type = int
default_from_setting = opengraph_image_size

[news_overview_full_text]
description = "Show full text in overview of articles"
type = bool

[news_overview_medium]
description = "Allow to select a different medium than the first in sequence as overview medium for an article"
type = bool

[news_read_more_link]
description = "Show “read more”-link below articles"
type = bool
scope[] = website
scope[] = categories
scope[] = news

[news_search_show_abstract]
description = "Show abstract/lead of news in search results"
type = bool
default = 1

[news_sharelinks]
description = "Show share links below single article"
type = bool
default = 1

[news_subtitle]
description = "Use subtitles for articles (field articles.subtitle)"
type = bool

[news_subtitle_above]
description = "Display subtitle above headline"
type = bool

[news_top]
description = "Display top navigation line above news"
type = bool
default = 1

[news_top_date]
description = "Display date above news if news_top is false"
type = bool
default = 1

[news_topimage]
description = "Show top image in news"
type = bool
default = 1

[news_topimage_size]
description = "Size in px of default top image above article"
type = int
default = 480

[news_with_events]
description = "Show links to connected events below news (events module required)"
type = bool

[replace_substrings]
description = "Replace (case sensitive) substrings with other strings, e. g. for common misspellings"
list = 1

[rss_copyright]
description = "Copyright holder in RSS feed"
default_from_setting = project

[rss_description]
description = "Description of the RSS feed"
type = text

[rss_editor]
description = "Name of editor in RSS feed"
default_from_setting = project

[rss_editor_mail]
description = "E-mail address of editor in RSS feed"
default_from_setting = own_e_mail

[rss_entries]
description = "Number of entries in the RSS feed"
type = int

[rss_fulltext]
description = "Format description text of RSS entries (articles and events) as if it were an article on webpage"
type = bool

[rss_webmaster]
description = "Name of webmaster in RSS feed"
default_from_setting = project

[rss_webmaster_mail]
description = "E-mail address of webmaster in RSS feed"
default_from_setting = own_e_mail

[rss_with_events]
description = "Include events in RSS feed"
type = bool
default = true

[utm_source]
type = string
